* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
}

/* navbar */

#nav {
  display: flex;
  font-weight: 700;
  padding: 3vw 10vw;
  position: relative;
  justify-content: space-between;
}

#nav a {
  color: black;
  font-size: 12px;
  font-size: 1.2rem;
  text-decoration: none;
}

#n-left {
  gap: 3rem;
  display: flex;
}

#nav #center-a-tag {
  top: 50%;
  left: 50%;
  font-size: 1.4rem;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* hero */

#hero {
  display: flex;
  margin-top: 15vw;
  padding: 3vw 10vw;
  align-items: center;
  justify-content: space-between;
}

#sustain {
  width: 10vw;
}

#sustain h5 {
  font-size: 1.32rem;
}

#sustain h2 {
  font-size: 2.4rem;
}

#sustain p {
  opacity: 0.5;
  margin: 1rem 0;
  line-height: 1.1;
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: capitalize;
}

#sus-img-wrapper {
  width: 100%;
  height: 15vw;
  overflow: hidden;
}

#sus-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#ephemeral {
  width: 30vw;
  min-height: 42vw;
  position: relative;
}

#ephemeral #headings {
  top: -16%;
  left: -19%;
  position: absolute;
}

#ephemeral h1 {
  font-size: 9vw;
  font-weight: 400;
  line-height: 0.45;
  letter-spacing: -0.4vw;
}

#ephemeral img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#ephemeral p {
  width: 40%;
  font-size: 1.3vw;
  line-height: 1.3;
  margin-top: 3rem;
  letter-spacing: -0.07vw;
}

#visit {
  gap: 1rem;
  display: flex;
  height: min-content;
  align-items: center;
  justify-content: center;
}

#circlev {
  width: 3vw;
  height: 3vw;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #5e5e5e;
}

#circlev i {
  color: #5e5e5e;
  font-size: 1.2vw;
}

#visit h3 {
  color: #5e5e5e;
  font-size: 1.87rem;
  font-weight: 400;
}

/* motive */

#motive {
  display: flex;
  margin-top: 7vw;
  padding: 3vw 10vw;
  justify-content: space-between;
}

#motive h3 {
  font-size: 1.87rem;
}

#motive p {
  width: 85%;
  font-size: 2vw;
  line-height: 1.7;
  text-align: right;
}

#motive span {
  margin: 0 0.8vw;
  margin-bottom: -1vw;
  border-radius: 10rem;
  display: inline-block;
}

#firstspan {
  width: 5vw;
  height: 3vw;
  background-size: cover;
  background-position: 0% 60%;
  background-image: url("./assets/bluegirl.jpg");
}

#secondspan {
  width: 7vw;
  height: 3.5vw;
  background-size: cover;
  background-position: 0% 48%;
  background-image: url("./assets/shaljam.jpg");
}

#thirdspan {
  width: 5vw;
  height: 3vw;
  background-size: cover;
  background-position: 0% 60%;
  background-image: url("./assets/grass.jpg");
}

/* pictures */

#pictures {
  display: flex;
  margin-top: 8vw;
  padding: 3vw 12vw 3vw 14vw;
  justify-content: space-between;
}

#firstpic {
  width: 17vw;
}

#firstpic #picimg {
  width: 100%;
  height: 24vw;
  margin-bottom: 1vw;
}

#picimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#firstpic h2,
#secpic h2 {
  font-size: 2vw;
  font-weight: 400;
  letter-spacing: -0.1vw;
}

#firstpic p,
#secpic p {
  width: 70%;
  opacity: 0.8;
  line-height: 1;
  margin-top: 1rem;
  font-size: 1.6rem;
}

#secpic {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 27vw;
  text-align: right;
}

#secpic #picimg {
  width: 100%;
  height: 40vw;
  margin-bottom: 1vw;
}

/* banner */

#banner {
  width: 100%;
  display: flex;
  margin-top: 8vw;
  align-items: center;
}

#bimg {
  width: 65%;
  height: 60vh;
}

#bimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 70%;
}

#btext {
  width: 35%;
  padding: 3vw;
}

#btext h2 {
  line-height: 1;
  font-size: 2.8vw;
  font-weight: 400;
  letter-spacing: -0.1vw;
}

#btext p {
  width: 60%;
  font-size: 1vw;
  margin-top: 2rem;
}

/* future */

#future {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

#future video {
  top: 50%;
  left: 50%;
  width: 100%;
  opacity: 0;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  transform: translate(-50%, -50%);
}

#ftext {
  gap: 1rem;
  display: flex;
  z-index: 9999;
  padding: 1vw 3vw;
  position: relative;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background-color: white;
}

#ftext h2 {
  font-size: 2.4rem;
}

#ftext button {
  cursor: pointer;
  font-size: 0.6vw;
  color: #6f6f6f;
  font-weight: 700;
  padding: 1vw 1.3vw;
  border-radius: 10rem;
  background-color: white;
  text-transform: capitalize;
  border: 0.1rem solid #c6c6c6;
}
